/***************************/
/*  DESKTOP BEFORE　(LG)   */
/***************************/
/* DICHIARAZIONE VARIABILI */
:root
{
/* VARIABILI DIMENSIONALI */
    --top_bar_h:        75px;
    --side_bar_w:       150px;
    --side_bar_w_xs:    35px;
    --bottom_bar_h:     75px;
    --tricky_box_h:     60px;
    --side_flex_gap:    10px;
    --side_left_padd:   15px;
    --core_gap_large:   1rem;
    --core_gap_medium:  0.7rem;
/* VARIABILI CROMATICHE */
    --top_bar_col:      rgba(0,0,0,0.7);
    --side_bar_col:     #000000;
    --bottom_bar_col:   #282828;
    --main_block_col:   #141922;
}
/***************************/

*
{
   font-family: 'Gotham Black', sans-serif; 
   color: #717171;
}

span, a
{
    font-size: 0.7rem;
}

a
{
    text-decoration: none;
}

.white_txt
{
    color: white;
}

#web_app
{
    height: 100vh;
    background-color: var(--main_block_col);
}

#top_bar
{
    width: 100%;
    height: var(--top_bar_h);
    background-color: var(--top_bar_col);
}

#side_bar
{
    width: var(--side_bar_w);
    height: calc(100% - (var(--tricky_box_h) + var(--bottom_bar_h)));
    z-index: 1000;
    background-color: var(--side_bar_col);
    /* padding-left: var(--side_left_padd); */
    gap: var(--side_flex_gap);
}

#side_bar > #logo
{
    line-height: var(--top_bar_h);
}

#side_bar > #logo > #wide_logo
{
    padding-left: 5px;
    background-color: var(--side_bar_col);
    left: var(--side_left_padd);
    top: 40%;
    transform: translateY(-50%);
}

#side_bar > #home
{
    border-left: 2px solid yellowgreen;
}

#side_bar > .padd_l
{
    padding-left: var(--side_left_padd);
}

#side_bar > .icons
{
    line-height: 25px;
}

#side_bar > .icons img
{
    vertical-align: middle;
}

#side_bar > #playlist_top > h6
{
    margin-top: 10px;
    margin-bottom: 7px;
}

#side_bar > #playlist_top > a > #add
{
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--side_bar_col);
    background-color: #A3A3A3;
}

#side_bar > #playlist
{
    width: 100%;
    padding-top: 10px;
    gap: var(--side_flex_gap);
    overflow: auto;
}

#tricky_box
{
    padding-left: var(--side_left_padd);
    width: var(--side_bar_w);
    height: var(--tricky_box_h);
    z-index: 1001;
    background-color: var(--side_bar_col);
}

#tricky_box > a
{
    width: 100%;
}

#tricky_box img
{
    vertical-align: middle;
}

#tricky_box #profile
{
    border-radius: 50%;
    background-color: #A3A3A3;
}

#page_core
{
    top: 0;
    left: var(--side_bar_w);
    right: 0;
    height: 100%;
    overflow: auto;
}

#core
{
    padding-left: var(--core_gap_large);
    /* padding-right: var(--core_gap_large); */
    padding-top: calc(var(--top_bar_h) + var(--core_gap_large));
}

#page_core > #core > h2,
#page_core > #core > h4
{
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#page_core > #core > #menu
{
    width: 80%;
}

#page_core > #core > #menu > a
{
    padding: 0 0.7rem;
    line-height: 1.3rem;
}

#page_core > #core > #menu #short_line::before
{
    position: absolute;
    top: 1rem;
    left: 30%;
    height: 0;
    width: 40%;
    content: "";
    border-top: 2px solid yellowgreen;
}

#core > .core_gap
{
    color: white;
    margin-top: var(--core_gap_large);
}

#core > .sub_margins
{
    margin: 0.6rem 0;
}

#core > .not_menu
{
    width: 100%;
    align-items: stretch;
    margin-top: calc(var(--core_gap_large) / 2);
    gap: var(--core_gap_large);
}

#core > .not_menu > a
{
    flex-basis: calc((99% - (5 * var(--core_gap_large))) / 6);
}

#core > .not_menu > a span
{
    font-size: 0.9rem;
}


#core > .not_menu > a img
{
    width: 100%;
    aspect-ratio: 1;
}

#core > #popular > a img
{
    border-radius: 50%;
}

#bottom_bar
{
    min-height: var(--bottom_bar_h);
    background-color: var(--bottom_bar_col);
    z-index: 1001;
}



/**************************************************/
/* SETTORE MEDIA QUERY */
/**************************************************/
/* MODALITA' ALTEZZA RIDOTTA A 350 PIXEL */
@media only screen and (max-height: 350px)
{
    #side_bar
    {
        height: calc(100% - (var(--tricky_box_h) + var(--bottom_bar_h)) + (var(--tricky_box_h) / 2));
    }

    #tricky_box
    {
        height: calc(var(--tricky_box_h) / 2);
    }

    #tricky_box > hr,
    #tricky_box > a:last-child
    {
        display: none;
    }
}

/* MODALITA' ALTEZZA RIDOTTA A 320 PIXEL */
@media only screen and (max-height: 320px)
{
    #side_bar
    {
        height: calc(100% - var(--bottom_bar_h));
    }

    #tricky_box
    {
        display: none;
    }
}

/* TABLET MEDIUM - MAX-WIDTH: 768 PIXEL */
@media only screen and (max-width: 768px)
{
    #core
    {
        padding-left: var(--core_gap_medium);
        padding-top: calc(var(--top_bar_h) + var(--core_gap_medium));
    }

    #page_core > #core > #menu
    {
        width: 60%;
    }

    #core > .not_menu
    {
        width: 100%;
        margin-top: calc(var(--core_gap_medium) / 2);
        gap: var(--core_gap_medium);
    }

    #core > .not_menu > a
    {
        flex-basis: calc((99% - (3 * var(--core_gap_medium))) / 4);
    }

    #core > .not_menu > a span
    {
        font-size: 0.7rem;
    }
}

/* SMARTPHONE S - MAX-WIDTH: 425 PIXEL */
@media only screen and (max-width: 425px)
{
    #core > .not_menu > a
    {
        flex-basis: calc((99% - var(--core_gap_medium)) / 2);
    }
}

/* SMARTPHONE XS - MAX-WIDTH: 320 PIXEL */
@media only screen and (max-width: 320px)
{
    #side_bar > #logo > #wide_logo,
    #side_bar > #playlist_top,
    #side_bar > #playlist,
    .icons span,
    #tricky_box > hr
    {
        display: none;
    }

    #side_bar,
    #tricky_box
    {
        padding: 0;
        width: var(--side_bar_w_xs);
        align-items: center;
    }

    #side_bar > .padd_l{
        padding-left: 0;
    }

    #side_bar > #logo
    {
        padding-top: 5px;
        line-height: initial;
        text-align: center;
    }

    #side_bar > .icons,
    #tricky_box > .d_block
    {
        text-align: center;
    }

    #side_bar img,
    #tricky_box img
    {
        width: 50%;
    }

    #side_bar
    {
        justify-content: flex-start;
    }

    #tricky_box
    {
        justify-content: space-evenly;
    }

    #page_core
    {
        left: var(--side_bar_w_xs);
    }

    #core > .not_menu > a
    {
        flex-basis: calc((99% - var(--core_gap_medium)) / 2);

    }
}
